-r requirements.base.txt

# Gitlint is a git commit message linter written in python: it checks your commit messages for style.
# https://jorisroovers.com/gitlint/
gitlint

# https://flake8.pycqa.org/en/latest/
# Not used the latest version for better support of 3rd party plugins:
# * https://github.com/wemake-services/flake8-broken-line/issues/281
flake8<6

# A plugin for Flake8 finding likely bugs and design problems in your program.
# https://github.com/PyCQA/flake8-bugbear
flake8-bugbear

# Extension to enforce better comma placement.
# https://github.com/PyCQA/flake8-commas
flake8-commas

# Much stricter linter for docstrings. Check periods, empty lines, etc.
flake8-docstrings

# A flake8 plugin checking common style issues or inconsistencies with pytest-based tests.
# https://github.com/m-burst/flake8-pytest-style
flake8-pytest-style

# Flake8 plugin for linting quotes style
# https://github.com/zheller/flake8-quotes
flake8-quotes

# A flake8 plugin that warn about backslashes usage
# https://github.com/wemake-services/flake8-broken-line
flake8-broken-line

# McCabe complexity checker
# https://github.com/PyCQA/mccabe
mccabe

# For proper import sorting
# https://github.com/PyCQA/isort
isort

# Static Typing for Python
# https://github.com/python/mypy
mypy

# A configurable set of panels that display various debug information about the current request/response.
# https://django-debug-toolbar.readthedocs.io/en/latest/
django-debug-toolbar
